<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NetFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key ="rate/fee" value="1500"/>
		<add key ="logPath" value="System.AppDomain.CurrentDomain.BaseDirectory"/>
	</appSettings>	
</configuration>